<div class="panel panel-primary" style="position:absolute;z-index:9000;right:10px;width:395px;" ng-controller="UserController" >
    <div class="panel-heading">
        <h3 class="panel-title">Connecté en tant que : {{ username }}</h3>
    </div>
    <div class="panel-body" ng-switch="isAuthenticated">
        <div ng-switch-when="true" >
            <ng-include src="'partials/logout.html'"></ng-include>
        </div>
        <div ng-switch-default>
            <ng-switch on="displayregister">
                <div ng-switch-when="false">
                    <ng-include src="'partials/signin.html'"></ng-include>
                    <a ng-click="displayRegister()">Pas encore de compte ?</a>
                </div>
                <div ng-switch-default>
                    <ng-include src="'partials/register.html'"></ng-include>
                    <a ng-click="displayRegister()">J'ai déjà un compte</a>
                </div>
            </ng-switch>
        </div>
    </div>
</div>

<div class="panel panel-primary" style="position:absolute;z-index:9000;left:10px;width:395px;top:10px" ng-controller="ProjectController" >
    <div class="panel-heading">
        <h3 class="panel-title">Vos projets</h3>
    </div>
    <div class="panel-body" ng-switch="isAuthenticated">
        <div ng-switch-when="true" >
            <ng-include src="'partials/project.html'"></ng-include>
        </div>
        <div ng-switch-default>
            <span>Pour créer un projet, créé un compte</span>
        </div>
    </div>
</div>

<div class="panel panel-primary" style="position:absolute;z-index:9000;right:10px;top:150px;width:395px">
    <div class="panel-heading">
        <h3 class="panel-title">Search image by username</h3>
    </div>
    <div class="panel-body">
        <input type="text" class="form-control" id="inputSearch" placeholder="Search by username" ng-model="searchUsername">
    </div>
</div>

<div class="panel panel-primary" style="position:absolute;z-index:9000;right:10px;top:280px">
    <div class="panel-heading">
        <h3 class="panel-title">Ajouter votre image</h3>
    </div>
    <div class="panel-body">
        
        <h4>1 - Cliquez sur la carte pour choisir un point</h4>
        <h4> OU recherchez une adresse</h4>
        <div class="form-group">
             <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="adress" details="details" />
        </div>
        <button type="button" class="btn btn-primary" ng-click='searchMap()'>Rechercher</button>
        <input type="hidden" ng-model="lat">
        <input type="hidden" ng-model="lon">

        <h4>2 - Uploadez votre image à mettre sur la carte</h4>
        <input type="file" nv-file-select="" uploader="uploader" />
        <br/>
        <div>
            <div>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Envoyer
            </button>
        </div>
     </div>
</div>

<google-map center="map.center" zoom="map.zoom" draggable="true" events="events">
    <markers models="filteredMarkers" coords="'self'" icon="'icon'" click="'onClick'" fit='true' doCluster="true" clusterEvents="clusterEvents">
        <windows show="'showWindow'"  coords="'self'" closeClick="'closeClick'" ng-cloak>
            <div ng-non-bindable>
                <img src="{{ real }}" style="max-width:400px;max-height:400px"/>
            </div>
        </windows>
    </markers>

    <marker coords='marker.coords' icon='marker.icon' idKey="marker.id">
    </marker>
</google-map>


