<!doctype html>
<html lang="fr" ng-app="socialMapApp">
    <head>
        <meta charset="UTF-8">
        <title>Socail Map</title>
        <link href="/css/dependencies.css" rel="stylesheet" media="all" type="text/css"> 
        <link href="/css/style.css" rel="stylesheet" media="all" type="text/css"> 
    </head>
    <body>
        <div ng-view></div>
        <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
        <script src="/js/dependencies.js"></script> 
        <script src="/js/app.js"></script> 
    </body>
 </html>